<h1>Mes Listes</h1>


<%= cl_image_tag("ndkpi4pubvkygtyyfdar",
      width: 400, height: 300, crop: :fill) %>


<div>
  <ul>
    <% @lists.each do |list| %>
    <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= link_to list_path(list) do %>
        <li><%= list.name %></li>
      <% end %>
    <% end %>
  </div>

  </ul>
</div>

<div>
<%= link_to "créer une nouvelle liste", new_list_path %>
</div>
